% --------------- %
% ---  JOB    --- %
% --------------- %
Job: "theeeesis_SMFit_scenI"
  CmeLabel: "84 TeV"
  POI: "SigXsecOverSM"
  ReadFrom: HIST
  HistoName: "hist"         % the TH1 name we saved
  HistoPath: "../inputs/inputs_thesis/"
  UseFolderStructure: FALSE
  Label: "hhh Asimov SR only"
  LumiLabel: "30 ab^{-1}"
  DebugLevel: 0
  MCstatThreshold: NONE
  MCstatConstraint: "Poisson"
  SplitHistoFiles: TRUE
  ImageFormat: "pdf"
  DoSummaryPlot: TRUE
  DoTables: TRUE
  DoSignalRegionsPlot: TRUE

% --------------- %
% ---  FIT    --- %
% --------------- %
Fit: "fit"
  FitType: SPLUSB
  FitRegion: CRONLY       % SR-only fit -> define SR as CONTROL below
  POIAsimov: 1
  FitBlind: TRUE
  ErrorSigma: 1


% --------------- %
% ---  LIMIT    --- %
% --------------- %
Limit: "limit"
  LimitType: TOYS
  ConfidenceLevel: 0.95
  LimitBlind: TRUE
  SplusBToys: 2000
  BonlyToys: 5000
  ToysSeed: 1234
  ScanSteps: 20
  ScanMin: 0
  ScanMax: 10

Significance: "sig"
  SignificanceType: ASYMPTOTIC   % or TOYS
  SignificanceBlind: TRUE        % for expected/Asimov discovery
  POI: "SigXsecOverSM" 
  
% --------------- %
% --- REGIONS --- %
% --------------- %

Region: "SR_HH"
  Type: CONTROL                
  VariableTitle: "NN (HH) Score"
  ShortLabel: "SR_HH"
  HistoFileSuff: "_hadhad_MMC"

Region: "SR_LH"
  Type: CONTROL                 
  VariableTitle: "NN (LH) Score"
  ShortLabel: "SR_LH"
  HistoFileSuff: "_lephad_MMC"

% --------------- %
% --- SAMPLES --- %
% --------------- %

Sample: "hhh"
  Type: SIGNAL
  Title: "HHH"
  TexTitle: "HHH"
  FillColor: 2
  LineColor: 2
  HistoPath: "../inputs/inputs_thesis"
  HistoFile: "hist_nominal_k3k4"
  HistoName: "hist"
  Regions: SR_HH,SR_LH

Sample: "ttbb"
  Type: BACKGROUND
  Title: "#it{t#bar{t}}+bb"
  TexTitle: "$t\\bar{t}$ + bb"
  FillColor: 1
  LineColor: 1
  HistoFile: "hist_ttbb"
  HistoPath: "../inputs/inputs_thesis"
  HistoName: "hist"
  Regions: SR_HH,SR_LH

Sample: "hh"
  Type: BACKGROUND
  Title: "HH"
  TexTitle: "$HH$+jets"
  FillColor: 5
  LineColor: 5
  HistoFile: "hist_hh"
  HistoPath: "../inputs/inputs_thesis"
  HistoName: "hist"
  Regions: SR_HH,SR_LH

Sample: "tth"
  Type: BACKGROUND
  Title: "#it{t#bar{t}}h"
  TexTitle: "$t\\bar{t}$h"
  FillColor: 208
  LineColor: 208
  HistoPath: "../inputs/inputs_thesis"
  HistoFile: "hist_tth"
  HistoName: "hist"
  Regions: SR_HH,SR_LH

Sample: "ttz"
  Type: BACKGROUND
  Title: "#it{t#bar{t}}Z"
  TexTitle: "$t\\bar{t}$Z"
  FillColor: 38
  LineColor: 38
  HistoPath: "../inputs/inputs_thesis"
  HistoFile: "hist_ttz"
  HistoName: "hist"
  Regions: SR_HH,SR_LH

Sample: "tttt"
  Type: BACKGROUND
  Title: "#it{t#bar{t}t\\bar{t}}"
  TexTitle: "$t\\bar{t}t\\bar{t}$"
  FillColor: 155
  LineColor: 155
  HistoFile: "hist_tttt"
  HistoPath: "../inputs/inputs_thesis"
  HistoName: "hist"
  Regions: SR_HH,SR_LH

Sample: "zzz"
  Type: BACKGROUND
  Title: "ZZZ"
  TexTitle: "ZZZ"
  FillColor: 12
  LineColor: 12
  HistoPath: "../inputs/inputs_thesis"
  HistoFile: "hist_zzz"
  HistoName: "hist"
  Regions: SR_HH,SR_LH

% --------------- %
% - NORMFACTORS - %
% --------------- %
NormFactor: "SigXsecOverSM"
  Title: "#mu(HHH)"
  Nominal: 1
  Min: 0
  Max: 100
  Samples: hhh


# systematics
Systematic: "Lumi"
  Title: "Luminosity"
  Type: OVERALL
  OverallUp:    0.01
  OverallDown: -0.01
  Samples: all
  Category: Instrumental
  SubCategory: "lumi"

Systematic: "BTagging"
  Title: "b-tagging uncertainty"
  Type: OVERALL
  OverallUp:    0.01
  OverallDown: -0.01
  Samples: all
  Category: Experimental
  SubCategory: "Identification"

Systematic: "TauTagging"
  Title: "Tau-ID"
  Type: OVERALL
  OverallUp:    0.01
  OverallDown: -0.01
  Samples: all
  Category: Experimental
  SubCategory: "Identification"

Systematic: "bkgNorm_ttbb"
  Title: "Norm ttbb"
  Type: OVERALL
  OverallUp:    0.01
  OverallDown: -0.01
  Samples: ttbb
  Category: Experimental
  SubCategory: "Norm"

Systematic: "bkgNorm_hh"
  Title: "Norm HH"
  Type: OVERALL
  OverallUp:    0.01
  OverallDown: -0.01
  Samples: hh
  Category: Experimental
  SubCategory: "Norm"

Systematic: "bkgNorm_tth"
  Title: "Norm ttH"
  Type: OVERALL
  OverallUp:    0.01
  OverallDown: -0.01
  Samples: tth
  Category: Experimental
  SubCategory: "Norm"

Systematic: "bkgNorm_ttz"
  Title: "Norm ttZ"
  Type: OVERALL
  OverallUp:    0.01
  OverallDown: -0.01
  Samples: ttz
  Category: Experimental
  SubCategory: "Norm"

Systematic: "bkgNorm_zzz"
  Title: "Norm ZZZ"
  Type: OVERALL
  OverallUp:    0.01
  OverallDown: -0.01
  Samples: zzz
  Category: Experimental
  SubCategory: "Norm"

Systematic: "bkgNorm_tttt"
  Title: "Norm 4t"
  Type: OVERALL
  OverallUp:    0.01
  OverallDown: -0.01
  Samples: tttt
  Category: Experimental
  SubCategory: "Norm"