% --------------- %
% ---  JOB    --- %
% --------------- %
Job: "Thesis_k3k4_stat"
  CmeLabel: "84 TeV"
  POI: "k3", "k4"
  ReadFrom: HIST
  HistoName: "hist"         % the TH1 name we saved
  HistoPath: "../inputs/inputs_thesis/"
  UseFolderStructure: FALSE
  Label: "hhh Asimov SR only"
  LumiLabel: "30 ab^{-1}"
  DebugLevel: 0
  MCstatThreshold: NONE
  MCstatConstraint: "Poisson"
  SplitHistoFiles: TRUE
  ImageFormat: "pdf"
  DoSummaryPlot: TRUE
  DoTables: TRUE
  SplitHistoFiles: FALSE
  DoSignalRegionsPlot: TRUE

% --------------- %
% ---  FIT    --- %
% --------------- %
Fit: "myFit"
  FitType: SPLUSB
  FitRegion: CRONLY          % SR-only fit (TRExFitter syntax quirk)
  POIAsimov: 1               % Asimov=S+B at mu=1 (change to 0 for B-only)
  UseMinos: all
  do2DLHscan: "k3", "k4"
  LHscanMin:  -20
  LHscanMax:   20
  LHscanSteps: 200
  LHscanMinY:  -100
  LHscanMaxY:   100
  LHscanStepsY: 200


% --------------- %
% --- REGIONS --- %
% --------------- %
Region: "SR_HH"
  Type: CONTROL                
  VariableTitle: "mHHH"
  ShortLabel: "SR_HH"
  HistoFileSuff: "_hadhad_MMC"

Region: "SR_LH"
  Type: CONTROL                 
  VariableTitle: "mHHH"
  ShortLabel: "SR_LH"
  HistoFileSuff: "_lephad_MMC"


% --------------- %
% --- SAMPLES --- %
% --------------- %


Sample: "ttbb"
  Type: BACKGROUND
  Title: "#it{t#bar{t}}+bb"
  TexTitle: "$t\\bar{t}$ + bb"
  FillColor: 1
  LineColor: 1
  HistoFile: "hist_ttbb"
  HistoPath: "../inputs/inputs_thesis"
  HistoName: "hist"
  Regions: SR_HH,SR_LH

Sample: "hh"
  Type: BACKGROUND
  Title: "HH"
  TexTitle: "$HH$+jets"
  FillColor: 1
  LineColor: 1
  HistoFile: "hist_hh"
  HistoPath: "../inputs/inputs_thesis"
  HistoName: "hist"
  Regions: SR_HH,SR_LH

Sample: "tth"
  Type: BACKGROUND
  Title: "#it{t#bar{t}}h"
  TexTitle: "$t\\bar{t}$h"
  FillColor: 208
  LineColor: 208
  HistoPath: "../inputs/inputs_thesis"
  HistoFile: "hist_tth"
  HistoName: "hist"
  Regions: SR_HH,SR_LH

Sample: "ttz"
  Type: BACKGROUND
  Title: "#it{t#bar{t}}Z"
  TexTitle: "$t\\bar{t}$Z"
  FillColor: 38
  LineColor: 38
  HistoPath: "../inputs/inputs_thesis"
  HistoFile: "hist_ttz"
  HistoName: "hist"
  Regions: SR_HH,SR_LH

Sample: "tttt"
  Type: BACKGROUND
  Title: "#it{t#bar{t}t\\bar{t}}"
  TexTitle: "$t\\bar{t}t\\bar{t}$"
  FillColor: 155
  LineColor: 155
  HistoFile: "hist_tttt"
  HistoPath: "../inputs/inputs_thesis"
  HistoName: "hist"
  Regions: SR_HH,SR_LH

Sample: "zzz"
  Type: BACKGROUND
  Title: "ZZZ"
  TexTitle: "ZZZ"
  FillColor: 12
  LineColor: 12
  HistoPath: "../inputs/inputs_thesis"
  HistoFile: "hist_zzz"
  HistoName: "hist"
  Regions: SR_HH,SR_LH

% --------------- %
% - NORMFACTORS - %
% --------------- %
Sample: "Signal_k3_0_k4_0"
  Type: SIGNAL
  Title: "k3 = 0, k4 = 0"
  HistoFile: "hist_k3_0_k4_0_k3k4"
  HistoPath: "../inputs/inputs_thesis"
  HistoName: "hist"
  Regions: SR_HH,SR_LH

Sample: "Signal_k3_1_k4_m1"
  Type: SIGNAL
  Title: "k3 = 1, k4 = -1"
  HistoFile: "hist_k3_1_k4_m1_k3k4"
  HistoName: "hist"
  Regions: SR_HH,SR_LH
  HistoPath: "../inputs/inputs_thesis"


Sample: "Signal_k3_m1_k4_1"
  Type: SIGNAL
  Title: "k3 = -1, k4 = 1"
  HistoFile: "hist_k3_m1_k4_1_k3k4"
  HistoName: "hist"
  Regions: SR_HH,SR_LH
  HistoPath: "../inputs/inputs_thesis"


Sample: "Signal_k3_1_k4_0"
  Type: SIGNAL
  Title: "k3 = 1, k4 = 0"
  HistoFile: "hist_k3_1_k4_0_k3k4"
  HistoName: "hist"
  Regions: SR_HH,SR_LH
  HistoPath: "../inputs/inputs_thesis"


Sample: "Signal_k3_0_k4_1"
  Type: SIGNAL
  Title: "k3 = 0, k4 = 1"
  HistoFile: "hist_k3_0_k4_1_k3k4"
  HistoName: "hist"
  Regions: SR_HH,SR_LH
  HistoPath: "../inputs/inputs_thesis"


Sample: "Signal_k3_m1_k4_0"
  Type: SIGNAL
  Title: "k3 = -1, k4 = 0"
  HistoFile: "hist_k3_m1_k4_0_k3k4"
  HistoName: "hist"
  Regions: SR_HH,SR_LH
  HistoPath: "../inputs/inputs_thesis"


Sample: "Signal_k3_0_k4_m1"
  Type: SIGNAL
  Title: "k3 = 0, k4 = -1"
  HistoFile: "hist_k3_0_k4_m1_k3k4"
  HistoName: "hist"
  Regions: SR_HH,SR_LH
  HistoPath: "../inputs/inputs_thesis"


Sample: "Signal_k3_0p5_k4_0"
  Type: SIGNAL
  Title: "k3 = 0.5, k4 = 0"
  HistoFile: "hist_k3_0p5_k4_0_k3k4"
  HistoName: "hist"
  HistoPath: "../inputs/inputs_thesis"
  Regions: SR_HH,SR_LH

Sample: "Signal_k3_m0p5_k4_0"
  Type: SIGNAL
  Title: "k3 = -0.5, k4 = 0"
  HistoFile: "hist_k3_m0p5_k4_0_k3k4"
  HistoName: "hist"
  Regions: SR_HH,SR_LH
  HistoPath: "../inputs/inputs_thesis"


% ----------------
% FREE POIs (k3,k4) and 9-term morphing (your latest expressions)
% ----------------
NormFactor: "k3"
  Title: "#kappa3"
  Nominal: 1.0
  Min: -10
  Max: 10
  Samples: NONE

NormFactor: "k4"
  Title: "#kappa4"
  Nominal: 1.0
  Min: -30
  Max: 40
  Samples: NONE

% Term1..Term9 — coefficients from your Vandermonde solution
NormFactor: "Term1"
  Title: "Basis: (0, 0)"
  Nominal: -2.0
  Min: -100000000
  Max: 100000000
  Samples: Signal_k3_0_k4_0
  Expression: (1 - 5*k3^2 + 4*k3^4 - k4^2 - k3*k4):k3[1,-20,25],k4[1,-400,200]


NormFactor: "Term2"
  Title: "Basis: (1, -1)"
  Nominal: -1.0
  Min: -100000000
  Max: 100000000
  Samples: Signal_k3_1_k4_m1
  Expression: (-0.5*k3*k4 - 0.5*k4*k3^2):k3[1,-20,25],k4[1,-400,200]


NormFactor: "Term3"
  Title: "Basis: (-1, 1)"
  Nominal: 0.0
  Min: -100000000
  Max: 100000000
  Samples: Signal_k3_m1_k4_1
  Expression: (-0.5*k3*k4 + 0.5*k4*k3^2):k3[1,-20,25],k4[1,-400,200]


NormFactor: "Term4"
  Title: "Basis: (1, 0)"
  Nominal: 2.0
  Min: -100000000
  Max: 100000000
  Samples: Signal_k3_1_k4_0
  Expression: (-0.16666666666*k3^2 + 0.66666666666*k3^4 - 0.16666666666*k3 + 0.66666666666*k3^3 + 0.5*k3*k4 + 0.5*k4*k3^2):k3[1,-20,25],k4[1,-400,200]


NormFactor: "Term5"
  Title: "Basis: (0, 1)"
  Nominal: 1.0
  Min: -100000000
  Max: 100000000
  Samples: Signal_k3_0_k4_1
  Expression: (0.5*k4^2 + 0.5*k4 + 0.5*k3*k4 - 0.5*k4*k3^2):k3[1,-20,25],k4[1,-400,200]


NormFactor: "Term6"
  Title: "Basis: (-1, 0)"
  Nominal: 0.0
  Min: -100000000
  Max: 100000000
  Samples: Signal_k3_m1_k4_0
  Expression: (-0.16666666666*k3^2 + 0.66666666666*k3^4 + 0.16666666666*k3 - 0.66666666666*k3^3 + 0.5*k3*k4 - 0.5*k4*k3^2):k3[1,-20,25],k4[1,-400,200]


NormFactor: "Term7"
  Title: "Basis: (0, -1)"
  Nominal: 1.0
  Min: -100000000
  Max: 100000000
  Samples: Signal_k3_0_k4_m1
  Expression: (0.5*k4^2 - 0.5*k4 + 0.5*k3*k4 + 0.5*k3**2*k4):k3[1,-20,25],k4[1,-400,200]


NormFactor: "Term8"
  Title: "Basis: (0.5, 0)"
  Nominal: 0
  Min: -100000000
  Max: 100000000
  Samples: Signal_k3_0p5_k4_0
  Expression: (2.66666666667*k3^2 - 2.66666666667*k3^4 + 1.33333333333*k3 - 1.33333333333*k3^3):k3[1,-20,25],k4[1,-400,200]


NormFactor: "Term9"
  Title: "Basis: (-0.5, 0)"
  Nominal: 0.0
  Min: -100000000
  Max: 100000000
  Samples: Signal_k3_m0p5_k4_0
  Expression: (2.66666666667*k3^2 - 2.66666666667*k3^4 - 1.33333333333*k3 + 1.33333333333*k3^3):k3[1,-20,25],k4[1,-400,200]

