% --------------- %
% ---  JOB    --- %
% --------------- %
Job: "Thesis_diHiggs_k4_scenII"
  CmeLabel: "84 TeV"
  POI: "k4"
  ReadFrom: HIST
  HistoName: "hist"         % the TH1 name we saved
  HistoPath: "../inputs/inputs_thesis_bbaa/"
  UseFolderStructure: FALSE
  Label: "hh Asimov SR only"
  LumiLabel: "30 ab^{-1}"
  DebugLevel: 0
  MCstatThreshold: NONE
  MCstatConstraint: "Poisson"
  SplitHistoFiles: TRUE
  ImageFormat: "pdf"
  DoSummaryPlot: TRUE
  DoTables: TRUE
  SplitHistoFiles: FALSE
  DoSignalRegionsPlot: TRUE

% --------------- %
% ---  FIT    --- %
% --------------- %
Fit: "myFit"
  FitType: SPLUSB
  FitRegion: CRONLY          
  POIAsimov: 1               
  UseMinos: all
  doLHscan: "k4"
  LHscanSteps: 100
  LHscanMin:  -150
  LHscanMax:   50
  LHscanStepsY: 100


% --------------- %
% --- REGIONS --- %
% --------------- %
Region: "SR"
  Type: CONTROL                
  VariableTitle: "NN Score"
  ShortLabel: "SR"
  HistoFileSuff: "_SR"


% --------------- %
% --- SAMPLES --- %
% --------------- %

Sample: "hh"
  Type: SIGNAL
  Title: "HH+jets"
  HistoFile: "hist_hh"
  HistoName: "hist"
  Regions: SR
  HistoPath: "../inputs/inputs_thesis_bbaa"


Sample: "jjaa"
  Type: BACKGROUND
  Title: "jjaa"
  TexTitle: "jj + $\\gamma \\gamma$"
  FillColor: 1
  LineColor: 1
  HistoFile: "hist_jjaa"
  HistoPath: "../inputs/inputs_thesis_bbaa"
  HistoName: "hist"
  Regions: SR

Sample: "tth"
  Type: BACKGROUND
  Title: "#it{t#bar{t}}h"
  TexTitle: "$t\\bar{t}$h"
  FillColor: 208
  LineColor: 208
  HistoPath: "../inputs/inputs_thesis_bbaa"
  HistoFile: "hist_tth"
  HistoName: "hist"
  Regions: SR

Sample: "h"
  Type: BACKGROUND
  Title: "H"
  TexTitle: "H"
  FillColor: 38
  LineColor: 38
  HistoPath: "../inputs/inputs_thesis_bbaa"
  HistoFile: "hist_h"
  HistoName: "hist"
  Regions: SR

Sample: "vbf_h"
  Type: BACKGROUND
  Title: "VBF Higgs"
  TexTitle: "VBF Higgs"
  FillColor: 12
  LineColor: 12
  HistoPath: "../inputs/inputs_thesis_bbaa"
  HistoFile: "hist_vbf_h"
  HistoName: "hist"
  Regions: SR




% ----------------
% FREE POIs (k3,k4) and 9-term morphing
% ----------------
NormFactor: "k3"
  Title: "#kappa3"
  Nominal: 1.0
  Min: -20
  Max: 20
  Samples: NONE
  Constant: TRUE

NormFactor: "k4"
  Title: "#kappa4"
  Nominal: 1.0
  Min: -250
  Max: 250
  Samples: NONE

% derived parameters of HH cross-section across the k3k4 parameter space (exact values from fit)
NormFactor: "poly"
  Title: "Cross-section Polynominal"
  Nominal: 1
  Min: -100000000
  Max: 100000000
  Samples: hh
Expression: (1.79397476 - 1.14768996*k3 + 3.54619132e-5*k4 + 2.34476180e-1*k3^2 + 2.81544043e-3*k3*k4 + 5.37205303e-5*k4^2 - 1.12420329e-3*k3^2*k4 - 3.39321237e-5*k3*k4^2 + 7.85075632e-6*k3^2*k4^2):k3[1,-20,25],k4[1,-400,200]


# systematics
Systematic: "Lumi"
  Title: "Luminosity"
  Type: OVERALL
  OverallUp:    0.01
  OverallDown: -0.01
  Samples: all
  Category: Instrumental
  SubCategory: "lumi"

Systematic: "BTagging"
  Title: "b-tagging uncertainty"
  Type: OVERALL
  OverallUp:    0.02
  OverallDown: -0.02
  Samples: all
  Category: Experimental
  SubCategory: "Identification"

Systematic: "PhotonID"
  Title: "Photon-ID"
  Type: OVERALL
  OverallUp:    0.02
  OverallDown: -0.02
  Samples: all
  Category: Experimental
  SubCategory: "Identification"

Systematic: "bkgNorm_jjaa"
  Title: "Norm jjaa"
  Type: OVERALL
  OverallUp:    0.01
  OverallDown: -0.01
  Samples: jjaa
  Category: Experimental
  SubCategory: "Norm"

Systematic: "bkgNorm_h"
  Title: "Norm H"
  Type: OVERALL
  OverallUp:    0.01
  OverallDown: -0.01
  Samples: h
  Category: Experimental
  SubCategory: "Norm"

Systematic: "bkgNorm_tth"
  Title: "Norm ttH"
  Type: OVERALL
  OverallUp:    0.01
  OverallDown: -0.01
  Samples: tth
  Category: Experimental
  SubCategory: "Norm"

Systematic: "bkgNorm_vbf_h"
  Title: "Norm VBF H"
  Type: OVERALL
  OverallUp:    0.01
  OverallDown: -0.01
  Samples: vbf_h
  Category: Experimental
  SubCategory: "Norm"

