% --------------- %
% ---  JOB    --- %
% --------------- %
Job: "Thesis_combination_hh_hhh_k3_scenII"
  CmeLabel: "84 TeV"
  POI: "k3"
  ReadFrom: HIST
  HistoName: "hist"         % the TH1 name we saved
  HistoPath: "/data/atlas/users/dingleyt/FCChh/trex/TRExFitter/inputs_thesis_bbaa/"
  UseFolderStructure: FALSE
  Label: "HH + HHH Combination"
  LumiLabel: "30 ab^{-1}"
  DebugLevel: 0
  MCstatThreshold: NONE
  MCstatConstraint: "Poisson"
  SplitHistoFiles: TRUE
  ImageFormat: "pdf"
  DoSummaryPlot: TRUE
  DoTables: TRUE
  SplitHistoFiles: FALSE
  DoSignalRegionsPlot: TRUE

% --------------- %
% ---  FIT    --- %
% --------------- %
Fit: "myFit"
  FitType: SPLUSB
  FitRegion: CRONLY          
  POIAsimov: 1               
  UseMinos: all
  doLHscan: "k3"
  LHscanSteps: 100
  LHscanMin:  0.5
  LHscanMax:  1.5
  LHscanStepsY: 100

% --------------- %
% --- REGIONS --- %
% --------------- %
Region: "SR"
  Type: CONTROL                
  VariableTitle: "NN Score"
  ShortLabel: "SR"
  HistoFileSuff: "_SR"


% also for the triple-Higgs analysis
Region: "SR_HH"
  Type: CONTROL                
  VariableTitle: "mHHH"
  ShortLabel: "SR_HH"
  HistoFileSuff: "_hadhad_MMC"

Region: "SR_LH"
  Type: CONTROL                 
  VariableTitle: "mHHH"
  ShortLabel: "SR_LH"
  HistoFileSuff: "_lephad_MMC"


% --------------- %
% --- SAMPLES --- %
% --------------- %

Sample: "hh_bbaa"
  Type: SIGNAL
  Title: "HH+jets"
  HistoFile: "hist_hh"
  HistoName: "hist"
  Regions: SR
  HistoPath: "inputs_thesis_bbaa"



Sample: "jjaa"
  Type: BACKGROUND
  Title: "jjaa"
  TexTitle: "jj + $\\gamma \\gamma$"
  FillColor: 1
  LineColor: 1
  HistoFile: "hist_jjaa"
  HistoPath: "inputs_thesis_bbaa"
  HistoName: "hist"
  Regions: SR

Sample: "tth_bbaa"
  Type: BACKGROUND
  Title: "#it{t#bar{t}}h"
  TexTitle: "$t\\bar{t}$h"
  FillColor: 208
  LineColor: 208
  HistoPath: "inputs_thesis_bbaa"
  HistoFile: "hist_tth"
  HistoName: "hist"
  Regions: SR

Sample: "h"
  Type: BACKGROUND
  Title: "H"
  TexTitle: "H"
  FillColor: 38
  LineColor: 38
  HistoPath: "inputs_thesis_bbaa"
  HistoFile: "hist_h"
  HistoName: "hist"
  Regions: SR

Sample: "vbf_h"
  Type: BACKGROUND
  Title: "VBF Higgs"
  TexTitle: "VBF Higgs"
  FillColor: 12
  LineColor: 12
  HistoPath: "inputs_thesis_bbaa"
  HistoFile: "hist_vbf_h"
  HistoName: "hist"
  Regions: SR

% also for the triple-Higgs analysis
Sample: "ttbb"
  Type: BACKGROUND
  Title: "#it{t#bar{t}}+bb"
  TexTitle: "$t\\bar{t}$ + bb"
  FillColor: 1
  LineColor: 1
  HistoFile: "hist_ttbb"
  HistoPath: "inputs_thesis"
  HistoName: "hist"
  Regions: SR_HH,SR_LH

Sample: "hh"
  Type: BACKGROUND
  Title: "HH"
  TexTitle: "$HH$+jets"
  FillColor: 1
  LineColor: 1
  HistoFile: "hist_hh"
  HistoPath: "inputs_thesis"
  HistoName: "hist"
  Regions: SR_HH,SR_LH

Sample: "tth"
  Type: BACKGROUND
  Title: "#it{t#bar{t}}h"
  TexTitle: "$t\\bar{t}$h"
  FillColor: 208
  LineColor: 208
  HistoPath: "inputs_thesis"
  HistoFile: "hist_tth"
  HistoName: "hist"
  Regions: SR_HH,SR_LH

Sample: "ttz"
  Type: BACKGROUND
  Title: "#it{t#bar{t}}Z"
  TexTitle: "$t\\bar{t}$Z"
  FillColor: 38
  LineColor: 38
  HistoPath: "inputs_thesis"
  HistoFile: "hist_ttz"
  HistoName: "hist"
  Regions: SR_HH,SR_LH

Sample: "tttt"
  Type: BACKGROUND
  Title: "#it{t#bar{t}t\\bar{t}}"
  TexTitle: "$t\\bar{t}t\\bar{t}$"
  FillColor: 155
  LineColor: 155
  HistoFile: "hist_tttt"
  HistoPath: "inputs_thesis"
  HistoName: "hist"
  Regions: SR_HH,SR_LH

Sample: "zzz"
  Type: BACKGROUND
  Title: "ZZZ"
  TexTitle: "ZZZ"
  FillColor: 12
  LineColor: 12
  HistoPath: "inputs_thesis"
  HistoFile: "hist_zzz"
  HistoName: "hist"
  Regions: SR_HH,SR_LH

% --------------- %
% - NORMFACTORS - %
% --------------- %
Sample: "Signal_k3_0_k4_0"
  Type: SIGNAL
  Title: "k3 = 0, k4 = 0"
  HistoFile: "hist_k3_0_k4_0_k3k4"
  HistoPath: "inputs_thesis"
  HistoName: "hist"
  Regions: SR_HH,SR_LH

Sample: "Signal_k3_1_k4_m1"
  Type: SIGNAL
  Title: "k3 = 1, k4 = -1"
  HistoFile: "hist_k3_1_k4_m1_k3k4"
  HistoName: "hist"
  Regions: SR_HH,SR_LH
  HistoPath: "inputs_thesis"


Sample: "Signal_k3_m1_k4_1"
  Type: SIGNAL
  Title: "k3 = -1, k4 = 1"
  HistoFile: "hist_k3_m1_k4_1_k3k4"
  HistoName: "hist"
  Regions: SR_HH,SR_LH
  HistoPath: "inputs_thesis"


Sample: "Signal_k3_1_k4_0"
  Type: SIGNAL
  Title: "k3 = 1, k4 = 0"
  HistoFile: "hist_k3_1_k4_0_k3k4"
  HistoName: "hist"
  Regions: SR_HH,SR_LH
  HistoPath: "inputs_thesis"


Sample: "Signal_k3_0_k4_1"
  Type: SIGNAL
  Title: "k3 = 0, k4 = 1"
  HistoFile: "hist_k3_0_k4_1_k3k4"
  HistoName: "hist"
  Regions: SR_HH,SR_LH
  HistoPath: "inputs_thesis"


Sample: "Signal_k3_m1_k4_0"
  Type: SIGNAL
  Title: "k3 = -1, k4 = 0"
  HistoFile: "hist_k3_m1_k4_0_k3k4"
  HistoName: "hist"
  Regions: SR_HH,SR_LH
  HistoPath: "inputs_thesis"


Sample: "Signal_k3_0_k4_m1"
  Type: SIGNAL
  Title: "k3 = 0, k4 = -1"
  HistoFile: "hist_k3_0_k4_m1_k3k4"
  HistoName: "hist"
  Regions: SR_HH,SR_LH
  HistoPath: "inputs_thesis"


Sample: "Signal_k3_0p5_k4_0"
  Type: SIGNAL
  Title: "k3 = 0.5, k4 = 0"
  HistoFile: "hist_k3_0p5_k4_0_k3k4"
  HistoName: "hist"
  HistoPath: "inputs_thesis"
  Regions: SR_HH,SR_LH

Sample: "Signal_k3_m0p5_k4_0"
  Type: SIGNAL
  Title: "k3 = -0.5, k4 = 0"
  HistoFile: "hist_k3_m0p5_k4_0_k3k4"
  HistoName: "hist"
  Regions: SR_HH,SR_LH
  HistoPath: "inputs_thesis"


% ----------------
% FREE POIs (k3,k4) and 9-term morphing
% ----------------
NormFactor: "k3"
  Title: "#kappa3"
  Nominal: 1.0
  Min: -20
  Max: 20
  Samples: NONE

NormFactor: "k4"
  Title: "#kappa4"
  Nominal: 1.0
  Min: -250
  Max: 250
  Samples: NONE
  Constant: TRUE

% derived parameters of HH cross-section across the k3k4 parameter space (exact values from fit)
NormFactor: "poly"
  Title: "Cross-section Polynominal"
  Nominal: 1
  Min: -100000000
  Max: 100000000
  Samples: hh,hh_bbaa
Expression: (1.79397476 - 1.14768996*k3 + 3.54619132e-5*k4 + 2.34476180e-1*k3^2 + 2.81544043e-3*k3*k4 + 5.37205303e-5*k4^2 - 1.12420329e-3*k3^2*k4 - 3.39321237e-5*k3*k4^2 + 7.85075632e-6*k3^2*k4^2):k3[1,-20,25],k4[1,-400,200]


% Term1..Term9 — coefficients from your Vandermonde solution
NormFactor: "Term1"
  Title: "Basis: (0, 0)"
  Nominal: -2.0
  Min: -100000000
  Max: 100000000
  Samples: Signal_k3_0_k4_0
  Expression: (1 - 5*k3^2 + 4*k3^4 - k4^2 - k3*k4):k3[1,-20,25],k4[1,-400,200]


NormFactor: "Term2"
  Title: "Basis: (1, -1)"
  Nominal: -1.0
  Min: -100000000
  Max: 100000000
  Samples: Signal_k3_1_k4_m1
  Expression: (-0.5*k3*k4 - 0.5*k4*k3^2):k3[1,-20,25],k4[1,-400,200]


NormFactor: "Term3"
  Title: "Basis: (-1, 1)"
  Nominal: 0.0
  Min: -100000000
  Max: 100000000
  Samples: Signal_k3_m1_k4_1
  Expression: (-0.5*k3*k4 + 0.5*k4*k3^2):k3[1,-20,25],k4[1,-400,200]


NormFactor: "Term4"
  Title: "Basis: (1, 0)"
  Nominal: 2.0
  Min: -100000000
  Max: 100000000
  Samples: Signal_k3_1_k4_0
  Expression: (-0.16666666666*k3^2 + 0.66666666666*k3^4 - 0.16666666666*k3 + 0.66666666666*k3^3 + 0.5*k3*k4 + 0.5*k4*k3^2):k3[1,-20,25],k4[1,-400,200]


NormFactor: "Term5"
  Title: "Basis: (0, 1)"
  Nominal: 1.0
  Min: -100000000
  Max: 100000000
  Samples: Signal_k3_0_k4_1
  Expression: (0.5*k4^2 + 0.5*k4 + 0.5*k3*k4 - 0.5*k4*k3^2):k3[1,-20,25],k4[1,-400,200]


NormFactor: "Term6"
  Title: "Basis: (-1, 0)"
  Nominal: 0.0
  Min: -100000000
  Max: 100000000
  Samples: Signal_k3_m1_k4_0
  Expression: (-0.16666666666*k3^2 + 0.66666666666*k3^4 + 0.16666666666*k3 - 0.66666666666*k3^3 + 0.5*k3*k4 - 0.5*k4*k3^2):k3[1,-20,25],k4[1,-400,200]


NormFactor: "Term7"
  Title: "Basis: (0, -1)"
  Nominal: 1.0
  Min: -100000000
  Max: 100000000
  Samples: Signal_k3_0_k4_m1
  Expression: (0.5*k4^2 - 0.5*k4 + 0.5*k3*k4 + 0.5*k3**2*k4):k3[1,-20,25],k4[1,-400,200]


NormFactor: "Term8"
  Title: "Basis: (0.5, 0)"
  Nominal: 0
  Min: -100000000
  Max: 100000000
  Samples: Signal_k3_0p5_k4_0
  Expression: (2.66666666667*k3^2 - 2.66666666667*k3^4 + 1.33333333333*k3 - 1.33333333333*k3^3):k3[1,-20,25],k4[1,-400,200]


NormFactor: "Term9"
  Title: "Basis: (-0.5, 0)"
  Nominal: 0.0
  Min: -100000000
  Max: 100000000
  Samples: Signal_k3_m0p5_k4_0
  Expression: (2.66666666667*k3^2 - 2.66666666667*k3^4 - 1.33333333333*k3 + 1.33333333333*k3^3):k3[1,-20,25],k4[1,-400,200]

% systematics
Systematic: "Lumi"
  Title: "Luminosity"
  Type: OVERALL
  OverallUp:    0.01
  OverallDown: -0.01
  Samples: all
  Category: Instrumental
  SubCategory: "lumi"

Systematic: "BTagging"
  Title: "b-tagging uncertainty"
  Type: OVERALL
  OverallUp:    0.02
  OverallDown: -0.02
  Samples: all
  Category: Experimental
  SubCategory: "Identification"

Systematic: "PhotonID"
  Title: "Photon-ID"
  Type: OVERALL
  OverallUp:    0.02
  OverallDown: -0.02
  Samples: jjaa,h,tth_bbaa,hh_bbaa,vbf_h
  Category: Experimental
  SubCategory: "Identification"

Systematic: "TauTagging"
  Title: "Tau-ID"
  Type: OVERALL
  OverallUp:    0.02
  OverallDown: -0.02
  Samples: hh,tth,ttz,zzz,ttbb,Signal_k3_m0p5_k4_0,Signal_k3_0p5_k4_0,Signal_k3_0_k4_m1,Signal_k3_m1_k4_0,Signal_k3_0_k4_1,Signal_k3_1_k4_0,Signal_k3_m1_k4_1,Signal_k3_1_k4_m1,Signal_k3_0_k4_0
  Category: Experimental
  SubCategory: "Identification"

Systematic: "bkgNorm_jjaa"
  Title: "Norm jjaa"
  Type: OVERALL
  OverallUp:    0.01
  OverallDown: -0.01
  Samples: jjaa
  Category: Experimental
  SubCategory: "Norm"

Systematic: "bkgNorm_h"
  Title: "Norm H"
  Type: OVERALL
  OverallUp:    0.01
  OverallDown: -0.01
  Samples: h
  Category: Experimental
  SubCategory: "Norm"

Systematic: "bkgNorm_tth"
  Title: "Norm ttH"
  Type: OVERALL
  OverallUp:    0.01
  OverallDown: -0.01
  Samples: tth_bbaa,tth
  Category: Experimental
  SubCategory: "Norm"

Systematic: "bkgNorm_vbf_h"
  Title: "Norm VBF H"
  Type: OVERALL
  OverallUp:    0.01
  OverallDown: -0.01
  Samples: vbf_h
  Category: Experimental
  SubCategory: "Norm"

Systematic: "bkgNorm_ttbb"
  Title: "Norm ttbb"
  Type: OVERALL
  OverallUp:    0.01
  OverallDown: -0.01
  Samples: ttbb
  Category: Experimental
  SubCategory: "Norm"

Systematic: "bkgNorm_hh"
  Title: "Norm HH"
  Type: OVERALL
  OverallUp:    0.01
  OverallDown: -0.01
  Samples: hh,hh_bbaa
  Category: Experimental
  SubCategory: "Norm"

Systematic: "bkgNorm_ttz"
  Title: "Norm ttZ"
  Type: OVERALL
  OverallUp:    0.01
  OverallDown: -0.01
  Samples: ttz
  Category: Experimental
  SubCategory: "Norm"

Systematic: "bkgNorm_zzz"
  Title: "Norm ZZZ"
  Type: OVERALL
  OverallUp:    0.01
  OverallDown: -0.01
  Samples: zzz
  Category: Experimental
  SubCategory: "Norm"

Systematic: "bkgNorm_tttt"
  Title: "Norm 4t"
  Type: OVERALL
  OverallUp:    0.01
  OverallDown: -0.01
  Samples: tttt
  Category: Experimental
  SubCategory: "Norm"